# Ingestion Configuration
NPS_API_KEY=DEMO_KEY
NPS_BASE_URL=https://developer.nps.gov/api/v1/
GOOGLE_API_KEY=DEMO_KEY
GOOGLE_BASE_URL=https://places.googleapis.com/v1/places/:searchText

# Future Postgres Migration Config
# POSTGRES_DB=postgres
# POSTGRES_USER=admin
# POSTGRES_PASSWORD=password
# POSTGRES_HOST=localhost
